section{
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(./fotos/ciudad_destruida.jpg);

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;

    background: rgba(138, 138, 138, 0.7);
    width: 400px;
    height: 100%;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Offset-x | Offset-y | Blur-radius | Color */
}
.portada_logo .portada{
    width: 400px;
    height: 270px;
}
main .logo{
width: 150px;
position: absolute;
top: 160px;
right: 120px;
animation: vibracion 0.001s infinite alternate;
}
@keyframes vibracion {

    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(30px);
    }
}
.descripcion{
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    width: 100%;
}
.integrantes ul{
    list-style: none;
    padding: 0 0 0 0;
    font-family: "Rock Salt", cursive;
  font-weight: 100;
  font-size: 10px;
  font-style: normal;
}

.discografia ul{
    list-style: none;
    padding: 0 0 0 0;
    font-family: "Rock Salt", cursive;
    font-weight: 100;
    font-size: 10px;
    font-style: normal;
}
.integrantes  p{
    text-align: center;
    font-weight: bold;
    font-family: "Rock Salt", cursive;
    font-size: 10px;
    font-style: normal;
}

.discografia  p{
    text-align: center;
    font-weight: bold;
    font-family: "Rock Salt", cursive;
    font-size: 10px;
    font-style: normal;
}
.pie{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: rgba(67, 69, 71, 0.7);
    font-family: "Rock Salt", cursive;
    font-weight: 100;
    font-size: 10px;
    font-style: normal;
}

.pie p{
    margin-top: 5px;
    margin-bottom: 0px;
}
.pie div :nth-child(1){
    text-align: center;
    font-weight: bold;
}